# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.tfstate.lock.info

# Sensitive files
*.pem
*.key
*.env

# CloudFormation
.aws-sam/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo